<%= link_to 'New dic', new_dic_path %>

<div id="top">
	<p>Słowny.pl pozwoli Ci na sprawdzenie, czy dane hasło jest dopuszczalne w grach słownych, a także, znalezienie haseł wg podanego wzorca. <a href="http://www.sjp.pl/slownik/dp.phtml">Więcej informacji odnośnie zasad dopuszczalności słów w grach</a>.</p>
</div>

<% form_tag root_path, :method => :get, :id => 'searchform' do %>
  <fieldset>
	<ol>
		<li>
			<%= text_field_tag :search, params[:search], :id => 'search-field', :class => 'textfield' %>
		<!--<%= label_tag :starts_with, "Zaczyna się od: " %><%= text_field_tag :starts_with, params[:starts_with] %>-->
			<%= submit_tag "Szukaj", :name => nil, :id => 'search-submit' %>
		</li>
		<li><%= label_tag :size, "Ilość liter: " %><%= select_tag :size, options_for_select(Dic::WORD_SIZE, params[:size].to_i) %></li>
	</ol>
  </fieldset>
<% end %>

<% if @dics %>
	<div id="results">
		<% if @dics.length > 0 %>
			<p><span class="counter"><%= h @dics.total_entries %></span></p>
			<p>
			<% @dics.each do |dic| %>
			  <span class="ok"><%=h dic.word %></span> 
			<% end %>
			</p>
		<% else %>
			<p><span class="no-ok">Niestety, nic nie znaleziono</span></p>
		<% end %>
	</div>
	<%= will_paginate @dics, :path => 'user', :next_label => 'Następna', :previous_label => 'Poprzednia'  %>
	
<% end %>